@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --primary-color: #134074;
  --secondary-color: #F39237;
  --accent1-color: #8DA9C4;
  --accent2-color: #EEF4ED;
  --heading-font: "Roboto Slab", serif;
  --body-font: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  line-height: 1.6;
}

header,
main,
footer {
  max-width: 100%;
  margin: 0 auto;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  color: var(--accent1-color);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: var(--accent2-color);
}

.socialmedia {
  display: flex;
  gap: 1rem;
}

.socialmedia a img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.socialmedia a img:hover {
  transform: scale(1.1);
}

footer {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

footer a {
  color: var(--accent2-color);
}

h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
  margin-top: 1rem;
}

/* Contact Info */
.contact-info {
  margin: 2rem;
  padding: 1rem;
}

iframe {
  display: block;
  margin: 1rem auto;
}

/* Employee Section */
.employees {
  margin: 2rem auto;
  padding: 1rem;
}

.employee-gallery {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.employee-gallery figure {
  text-align: center;
}

.employee-gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid;
  box-shadow: 0 0 10px var(--primary-color);
  margin-bottom: 1rem;
}

/* Contact Form */
.contact-form {
  background-color: var(--accent1-color);
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
}

form {
  display: grid;
  gap: 1rem;
}

label,
legend {
  font-weight: bold;
  color: var(--primary-color);
}

input,
select,
textarea {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-left: 0.5rem;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 1rem;
}

button[type="submit"] {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--accent2-color);
  color: var(--primary-color);
}
